.profile__add-button {
    background-image: url(../../../images/add-button-profile.svg);
    width: 150px;
    height: 50px;
    background-color: #000;
    border: 2px solid #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    margin-left: auto;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 999px) {
    .profile__add-button {
        min-width: 282px;
        margin: 0 auto;
        min-height: 50px;
        background-size: 16px 16px;
    }
}