.element__footer {
    padding: 25px 15px 31px 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 0px 0px 10px 10px;
}