.profile__description {
    display: flex;
    flex-direction: column;
    max-width: 336px;
    padding-left: 33px;
}

@media screen and (max-width: 999px) {
    .profile__description {
        min-width: 282px;
        margin: 0px auto;
        padding-left: 0px;
        padding-top: 22px;
        padding-bottom: 36px;
    }
}