.popup__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 358px;
    padding-bottom: 37px;
}

@media screen and (max-width:999px) {
    .popup__form {
        max-width: 238px;
        padding-bottom: 25px;
    }
}